<div class="container">
  <h2>PROFIL</h2>
  <br>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-2" for="fullName">Nama Lengkap:</label>
      <div class="col-md-5">
        <input [(ngModel)]="user.fullName"  class="form-control" name="fullName" placeholder="Nama Lengkap">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="userName">Nama User:</label>
      <div class="col-md-5">
        <input [(ngModel)]="user.userName" class="form-control" name="userName" placeholder="User Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="password">Password:</label>
      <div class="col-md-5">
        <input [(ngModel)]="user.password"  class="form-control" name="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="dob">Tanggal Lahir:</label>
      <div class="col-md-5">
        <input [(ngModel)]="user.dob" type="date" class="form-control" name="dob" placeholder="Tanggal Lahir">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="email">Email:</label>
      <div class="col-md-5">
        <input [(ngModel)]="user.email" type="email" class="form-control" name="email" placeholder="Email">
      </div></div>
      <div class="form-group">
        <label class="control-label col-md-2" for="phone">Phone:</label>
        <div class="col-md-5">
          <input [(ngModel)]="user.phone"  class="form-control" name="phone" placeholder="Nomor Ponsel">
        </div>
      </div>
      <div class="col-md-offset-2">
      <button class="btn btn-primary btn-lg" (click)="lakukanUbah()">Ubah</button>
    </div>
    </form>
  </div>
