<div class="container">
<h1 align="center">Minuman </h1>
<div ><a class="btn btn-warning" routerLink="/menu/view">Kembali ke Semua Menu</a></div>
<hr>
  <div *ngFor="let m of menu" class="col-sm-4" >
      <div class="container" *ngIf="m.jenis == 'Minuman'">
        <img *ngIf="m.namaMenu == 'Es Buah Selasih'" src="./../../assets/esbuahselasih.jpg" class="img-rounded" alt="" width="300" height="250">
        <img *ngIf="m.namaMenu == 'Es Oyen'" src="./../../assets/es-oyen.jpg" class="img-rounded" alt="" width="300" height="250">
        <img *ngIf="m.namaMenu == 'Es Jeruk Selasih'" src="./../../assets/4.jpg" class="img-rounded" alt="" width="300" height="250">
        <img *ngIf="m.namaMenu == 'Jus Alpukat'" src="./../../assets/es-jus-alpukat.jpg" class="img-rounded" alt="" width="300" height="250">
        <img *ngIf="m.namaMenu == 'Es Cendol Solo'" src="./../../assets/escendolsolo.jpg" class="img-rounded" alt="" width="300" height="250">
        <img *ngIf="m.namaMenu == 'Es Lemon Tea'" src="./../../assets/lemontea.jpg" class="img-rounded" alt="" width="300" height="250">
      <h4>{{m.namaMenu}} - {{m.harga}}</h4>
      <p *ngIf="m.namaMenu == 'Es Buah Selasih' || m.namaMenu == 'Brownies Ketan' || m.namaMenu == 'Steak Sapi' || m.namaMenu == 'Jus Alpukat'">By Cafe Gaul</p>
      <p *ngIf="m.namaMenu == 'Es Oyen' || m.namaMenu == 'Es Jeruk Selasih' || m.namaMenu == 'Es Krim Oreo Frappuchino' || m.namaMenu == 'Waffel Keju'">By Mao Susu</p>
      <p *ngIf="m.namaMenu == 'Es Lemon Tea' || m.namaMenu == 'Cream Puff' || m.namaMenu == 'Hamburger' || m.namaMenu == 'Es Cendol Solo'">By Hans Cafe</p>
      <a routerLink="/menu/order" href="" class="btn btn-primary" (click)="lakukanOrder(m.id)">Beli</a>
    </div>
  </div>
</div>
