<div class="container">
<h1 align="center">Food And Bravery</h1>
<h3>Food</h3>
<a id="tambahMenu" routerLink="/restaurant/add" class="btn btn-primary">Tambah Menu</a>
<hr>

    <div class="col-sm-4">
      <img src="./../../assets/1.jpeg" class="img-rounded" alt="" width="300" height="250">
      <h4>Waffel Keju - Rp 12.000</h4>
      <p>By Mao Susu</p>
      <a href="" class="btn btn-primary">Buy</a>
    </div>

    <div class="col-sm-4">
      <img src="./../../assets/2.jpeg" class="img-rounded" alt="" width="300" height="250">
      <h4>Brownies Ketan - Rp 15.000</h4>
      <p>By Hans Bakery</p>
      <a href="" class="btn btn-primary">Buy</a>
    </div>

    <div class="col-sm-4">
      <img src="./../../assets/ice-cream-oreo-frappuccino-waffles-60641.jpeg" class="img-rounded" alt="" width="300" height="250">
      <h4>Waffel Es Krim Oreo - Rp 10.000</h4>
      <p>By Pargraf Eatery</p>
      <a href="" class="btn btn-primary">Buy</a>
    </div><br>

    <div class="col-sm-4">
      <img src="./../../assets/cream-puffs-delicious-france-confectionery-food-52539.jpeg" class="img-rounded" alt="" width="300" height="250">
      <h4>Cream Puff - Rp 12.000</h4>
      <p>By Mao Susu</p>
      <a href="" class="btn btn-primary">Buy</a>
    </div>

    <div class="col-sm-4">
      <img src="./../../assets/steak.jpg" class="img-rounded" alt="" width="300" height="250">
      <h4>Steak Sapi - Rp 20.000</h4>
      <p>By Cafe Soenan</p>
      <a href="" class="btn btn-primary">Buy</a>
    </div>

    <div class="col-sm-4">
      <img src="./../../assets/SplitShire-04335.jpg" class="img-rounded" alt="" width="300" height="250">
      <h4>Hamburger - Rp 20.000</h4>
      <p>By Cafe Soenan</p>
      <a href="" class="btn btn-primary">Buy</a>
    </div><hr>
  <p align="right"><a href='#'>See more here>></a>
<br><br>

    <h3>Bravery</h3><hr>
        <div class="col-sm-4">
          <img src="./../../assets/4.jpg" class="img-rounded" alt="" width="300" height="250">
          <h4>Es Lemon Selasih - Rp 7.000</h4>
          <p>By Mao Susu</p>
          <a href="" class="btn btn-primary">Buy</a>
        </div>

        <div class="col-sm-4">
          <img src="./../../assets/es-cendol2.jpg" class="img-rounded" alt="" width="300" height="250">
          <h4>Es Cendol - Rp 6.000</h4>
          <p>By Hans Bakery</p>
          <a href="" class="btn btn-primary">Buy</a>
        </div>

        <div class="col-sm-4">
          <img src="./../../assets/es-oyen.jpg" class="img-rounded" alt="" width="300" height="250">
          <h4>Es Oyen - Rp 10.000</h4>
          <p>By Pargraf Eatery</p>
          <a href="" class="btn btn-primary">Buy</a>
        </div><br>

        <div class="col-sm-4">
          <img src="./../../assets/Resep-Minuman-Es-Buah-Segar.jpg" class="img-rounded" alt="" width="300" height="250">
          <h4>Es Buah - Rp 10.000</h4>
          <p>By Mao Susu</p>
          <a href="" class="btn btn-primary">Buy</a>
        </div>

        <div class="col-sm-4">
          <img src="./../../assets/57f1f1032540c6b40e57a27d6189223b.jpg" class="img-rounded" alt="" width="300" height="250">
          <h4>Lemon Tea - Rp 8.000</h4>
          <p>By Cafe Soenan</p>
          <a href="" class="btn btn-primary">Buy</a>
        </div>

        <div class="col-sm-4">
          <img src="./../../assets/icedtea-21-770x470.jpg" class="img-rounded" alt="" width="300" height="250">
          <h4>Hamburger - Rp 20.000</h4>
          <p>By Cafe Soenan</p>
          <a href="" class="btn btn-primary">Buy</a>
        </div><hr>
      <p align="right"><a href='#'>See more here>></a>

</div>
